# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/

# Environment variables
.env
.env.*

# Virtual environment
venv/
env/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Static files
staticfiles/
static_root/

#AWS
.ebextensions/