option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: carwow.wsgi:application

container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_flush:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py flush --noinput"
    leader_only: true
  03_loaddata:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py loaddata datadump.json"
    leader_only: true